.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(135deg, #f8d7ff 0%, #f5f0ff 100%);
  font-family: "Roboto", sans-serif;
  color: #333;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.app-name {
  font-size: 2rem;
  font-weight: bold;
  color: #7a56b7;
  margin-bottom: 50px;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border-radius: 20px;
  margin: 0 10px;
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 50px;
}

.post .title {
  height: 20%;
  background-color: #7e57c2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

.post .body {
  height: 50%;
  padding: 20px;
  overflow: hidden;
  color: #555;
}

.post .footer {
  height: 22%;
  background-color: #7e57c2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ece4e4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
}

.footer .username {
  margin-right: 200px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer .buttons {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer .buttons .likeno {
  display: inline;
}

.additional-info {
  background-color: #f5f5f5;
  text-align: center;
  font-size: 1rem;
  color: #7e57c2;
  width: 100vw;
  bottom: 0;
}

.additional-info a {
  color: #7e57c2;
  text-decoration: none;
  margin: 0 10px;
}

.additional-info a:hover {
  text-decoration: underline;
}

.post .title {
  transition: background-color 0.3s ease;
}

.post .title:hover {
  background-color: #5d42a6;
}

.post:hover {
  transform: translateY(-5px); /* Move card up on hover */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  cursor: pointer;
}

.post .footer:hover {
  background-color: #5d42a6;
}

.formContainer {
  margin: 50px 0 115px 0;
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.formContainer input[type="text"],
.formContainer textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  padding: 12px;
  margin: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.formContainer button {
  width: calc(100% - 40px);
  padding: 14px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #37ab3a;
  color: rgb(248, 247, 247);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formContainer button:hover {
  background-color: #035207;
  font-weight: bold;
}

.formTitle {
  text-align: center;
  justify-content: center;
}
.formContainer span {
  color: red;
  align-items: center;
  text-align: center;
}

::placeholder {
  color: #aaa;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid #4caf50;
  outline: none;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.navbar {
  color: #955dbddb;
  font-family: Arial, sans-serif; /* Font family */
  width: 100%; /* Full width */
  z-index: 1; /* Ensure it's above other content */
  padding: 15px 15px; /* Vertical padding */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.navbar .loggedInContainer {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  width: 100%;
  color: #000000; /* Text color */
  text-decoration: none; /* Remove underline */
  margin: 0 15px; /* Margin */
  padding: 10px; /* Padding */
  border-radius: 5px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.nav-link:hover {
  background-color: #34495e;
  color: #ccc;
}

.navbar button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin: -25px 15px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.navbar h1 {
  width: relative;
  height: 30px;
  margin: -25px 0;
  border-radius: 5px;
  margin-left: 20px;
  font-weight: bold;
  color: #67089aa6;
  margin: -25x 15px;
  transition: background-color 0.3s ease;
}

/* Style for error messages */
.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: auto;
  text-align: center;
  margin-bottom: 5px;
}

.formField {
  margin-bottom: 40px;
  margin-top: 10px;
  margin: 10px 10;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px;
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer button:hover {
  display: flex;
  background-color: rgb(22, 7, 154);
  color: white;
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.addCommentContainer input {
  border: 2px solid rgb(34, 98, 162);
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  margin: 50px 0 35px 0;
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  background-color: #fff;
}

.loginContainer input,
button {
  width: 180px;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin: 15px;
  font-size:15px;
  font-weight: bold;

}


.loginContainer button {
  display: flex;
  background-color: rgb(16, 197, 28);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}

.loginContainer button:hover {
  display: flex;
  background-color: rgb(10, 148, 53);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.loginField {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 40px 0 20px 0;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginContainer input {
  width: calc(100% - 40px);
  display: flex;
  border: 2px solid dodgerblue;
}

/* Profile */

.basicInfo {
  display: flex;
}

.basicInfo .profilename{
  font-size: 30px;
  padding: 10px;
  margin: 15px;
  color: rgb(167, 6, 199);
}
